/* src/components/Header.css */
.header {
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header nav a {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 10px;
  /* border: 1px solid black;
  font-weight: bold; */
  border-radius: 8px;
  transition: background-color 0.3s, border-radius 0.3s;
}

.header nav a:hover {
  background-color:  rgba(148, 97, 1, 0.575);
  color: white;

  }
  
