/* src/components/MainContent.css */
.main-content {
    display: block;
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    transition: border-radius 0.3s;
    border-radius: 15px;
    /* height: 500px; */
}

