.sidebar {
    box-sizing: border-box;
    width: 150px;
    background-color: #f9f9f9;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 15px;
    margin: 5px 0px 5px 5px;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;  /* Remove bullets for ul */
    padding: 0;
    margin: 0;
}

.sidebar ol {
    padding: 0;
    margin: 0;
    list-style-type: decimal;  /* Ensure ol shows numbers */
}

.sidebar ul li, .sidebar ol li {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;  /* Needed for positioning hover-links */
}

.sidebar ul li:hover {
    background-color: #e3e3e3;
}

.sidebar ul li.active, .sidebar ol li.active {
    background-color: #fff !important;
    color: orange;
}

.sidebar ol li.active {
    background-color: #a7a5a5;
}

.sidebar .hover-links {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    z-index: 1;  /* Ensure hover-links are on top */
}

.sidebar li:hover .hover-links {
    display: block;
}

.sidebar .hover-links li {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar .hover-links li:hover {
    background-color: #f0f0f0;
}
