/* src/components/Header.css */

/* Header container styling */
.header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
  border-radius: 8px 8px 0 0;
}

.logo {
  width: 115px !important; /* Adjust the size as needed */
  height: auto !important;
  object-fit: contain !important;
}

/* Logo styling */


/* Navigation container styling */
.header nav {
  display: flex;
  align-items: center;
}

/* Navigation link styling */
.header nav .nav-link {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-right: 20px;
  transition: background-color 0.3s, border-radius 0.3s;
}

/* Navigation link hover effect */
.header nav .nav-link:hover{
  /* background-color: rgba(148, 97, 1, 0.575); */
  color: white;
}

/* Dropdown container styling */
.dropdown {
  position: relative;
}

/* Dropdown button styling */
.dropdown-toggle {
  background: none;
  border: none;
  color: black;
  font-size: 12px;
  cursor: pointer;
  margin-left: 20px;
}

/* Dropdown menu styling */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  /* left: 0; */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  width: auto;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown item styling */
.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-item:hover {
  background-color: rgba(148, 97, 1, 0.1);
}

.header {
  height: 100%;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}


.header-title {
  font-size: 1.5rem; /* Increase the font size */
  margin-left: 20px; /* Add gap between the image and the text */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Customize the color as needed */
}
a{
    display: block;
    padding: 0 !important;
    text-decoration: none;
    color: #000;
    /* margin: 5px 0; */
    padding: 10px 5px;
    cursor: pointer;
    border:1px solid orange;
  
}
.main{
  height:500px;
}


