.sidebar {
    width: 200px;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
  }
  
  .list-group-item:hover .submenu {
    display: flex;
  }
  
  .submenu .list-group-item {
    white-space: nowrap; /* Prevent submenu items from wrapping */
  }
  